
<ion-header translucent>
	<ion-toolbar color="warning">
	  <ion-buttons slot="start">
		<ion-back-button defaultHref="/home"></ion-back-button>
	  </ion-buttons>
	  <ion-title>
		Select address
	  </ion-title>
	
	</ion-toolbar>
  </ion-header>




<ion-content fullscreen>
	<ion-list lines="none">
		<ion-radio-group>
			<ion-item>
				<div class="item_inner d-flex">
					<ion-radio value="home"></ion-radio>
					<div class="text_box">
						<h3>Home</h3>
						<p>
							802, veeera desai , andheri west
						</p>
					</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="item_inner d-flex">
					<ion-radio value="Office"></ion-radio>
					<div class="text_box">
						<h3>Office</h3>
						<p>
							802, veeera desai , andheri west
						</p>
					</div>
				</div>
			</ion-item>

			<ion-item>
				<div class="item_inner d-flex">
					<ion-radio value="Other"></ion-radio>
					<div class="text_box">
						<h3>Other</h3>
						<p>
							802, veeera desai , andheri west
						</p>
					</div>
				</div>
			</ion-item>
		</ion-radio-group>
	</ion-list>
</ion-content>
<ion-footer class="ion-no-border">
	<ion-button size="large" shape="full" class="btn" (click)="payment_mode()"> {{'continue' | translate}} </ion-button>
</ion-footer>