<!-- <ion-header class="bg_transparent"> -->
	<!-- <ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>
			<div class="title_inner d-flex">
				<h3 class="end">
					<span class="end cart_icon" (click)="cart()">
						<ion-icon class="zmdi zmdi-mall ion-text-start"></ion-icon>
						<ion-badge>2</ion-badge>
					</span>
				</h3>
			</div>
		</ion-title>
	</ion-toolbar>

	<div class="banner">
		<div class="banner_img center_img">
			<img src="assets/images/seller_profile.png" class="crop_img">
		</div>
		<h2>Operum England</h2>
	</div> -->
<!-- </ion-header> -->
<ion-header>
	<ion-toolbar color="warning">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/home"></ion-back-button>
		</ion-buttons>
		<ion-title>
			Seller Profile
		</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content >

		<div class="wrapper">
			<div class="top-icons">
				<i class="fas fa-long-arrow-alt-left"></i>
				<i class="fas fa-ellipsis-v"></i>
				<i class="far fa-heart"></i>
			</div>
			
			<div class="profile">
				<img src="https://images.unsplash.com/photo-1484186139897-d5fc6b908812?ixlib=rb-0.3.5&s=9358d797b2e1370884aa51b0ab94f706&auto=format&fit=crop&w=200&q=80%20500w" class="thumbnail">
				<div class="check"><i class="fas fa-check"></i></div>
				<h3 class="name">Barkha Dutt</h3>
				<p class="title">Chef</p>
				<p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque aliquam aliquid porro!</p>
				<button type="button"  (click)="share()" class="btn">Share Profile</button>
				<!-- <h3 (click)="share()">
					<ion-icon class="zmdi  zmdi-share ion-text-start"></ion-icon>
	
	
				</h3> -->
			</div>
			
			<div class="social-icons">
				<div class="icon">
					<a href="/">
						<i class="zmdi zmdi-shopping-basket"></i>
						</a>
					<h4>12.8k</h4>
					<p>Orders</p>
				</div>
				
				<div class="icon">
					<a href="#">
						<i class="zmdi zmdi-truck"></i>
						</a>
					<h4>12.8k</h4>
					<p>Deliveries</p>
				</div>
				
				<div class="icon">
					<a href="#"><i class="zmdi zmdi-thumb-up"></i></a>
					<h4>12.8k</h4>
					<p>Followers</p>
				</div>
			</div>
			
		</div>
<br>
<br>
<br>

		<div class="wrapper">
			<ion-grid>
				<ion-row>
				  <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let image of [4, 7, 6,8,4,7,6,7,8,4]">
					<div class="img-wrapper" [style.background-image]="'url(assets/images/item_' + image + '.png)'">
					</div>
				  </ion-col>
				</ion-row>
			  </ion-grid>
			
			
	
			
		</div>	
	
</ion-content>
