<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      
      <span></span>
    </ion-buttons>
  
    
    <ion-buttons  (click)="search()" slot="end">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
    
      </ion-buttons>
  <ion-buttons (click)="notifications()" slot="end">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
    
      </ion-buttons>
       <!--  <ion-buttons (click)="cart()" slot="end">
      <ion-icon class="zmdi zmdi-favorite ion-text-start"></ion-icon>
    </ion-buttons>
      <ion-buttons (click)="cart()" slot="end">
      <ion-icon class="zmdi zmdi-mall ion-text-start"></ion-icon>
      <ion-badge>2</ion-badge>
    </ion-buttons> -->
    
    </ion-toolbar>
</ion-header>


<ion-content fullscreen class="bg_color">
	<ion-list lines="none">
		<h2>Sellers near you</h2>
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Henna Taylor</h3>
					<h4 class="d-flex">
            Andheri west
						
					</h4>
				</div>
          
					<div class="choose_category">
            <h2>Best Selling products</h2>
            <div class="category_row">
              <div class="category fashion" (click)="item()">
                <div class="img_box center_img">
                  <h2>IDLI</h2>
                  <img src="assets/images/Jackets.png" class="crop_img">
                </div>
              </div>
              <div class="category phones" (click)="item()">
                <div class="img_box center_img">
                  <h2>DOSA</h2>
                  <img src="assets/images/Phones.png" class="crop_img">
                </div>
              </div>
              <div class="category furniture" (click)="item()">
                <div class="img_box center_img">
                  <h2>POHA</h2>
                  <img src="assets/images/Furniture.png" class="crop_img">
                </div>
              </div>
              
            </div>
          </div>
			</div>
		</ion-item>

    <ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Henna Taylor</h3>
					<h4 class="d-flex">
            Andheri west
						
					</h4>
				</div>
          
					<div class="choose_category">
            <h2>Best Selling products</h2>
            <div class="category_row">
              <div class="category fashion" (click)="item()">
                <div class="img_box center_img">
                  <h2>IDLI</h2>
                  <img src="assets/images/Jackets.png" class="crop_img">
                </div>
              </div>
              <div class="category phones" (click)="item()">
                <div class="img_box center_img">
                  <h2>DOSA</h2>
                  <img src="assets/images/Phones.png" class="crop_img">
                </div>
              </div>
              <div class="category furniture" (click)="item()">
                <div class="img_box center_img">
                  <h2>POHA</h2>
                  <img src="assets/images/Furniture.png" class="crop_img">
                </div>
              </div>
              
            </div>
          </div>
			</div>
    </ion-item>
    <ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Henna Taylor</h3>
					<h4 class="d-flex">
            Andheri west
						
					</h4>
				</div>
          
					<div class="choose_category">
            <h2>Best Selling products</h2>
            <div class="category_row">
              <div class="category fashion" (click)="item()">
                <div class="img_box center_img">
                  <h2>IDLI</h2>
                  <img src="assets/images/Jackets.png" class="crop_img">
                </div>
              </div>
              <div class="category phones" (click)="item()">
                <div class="img_box center_img">
                  <h2>DOSA</h2>
                  <img src="assets/images/Phones.png" class="crop_img">
                </div>
              </div>
              <div class="category furniture" (click)="item()">
                <div class="img_box center_img">
                  <h2>POHA</h2>
                  <img src="assets/images/Furniture.png" class="crop_img">
                </div>
              </div>
              
            </div>
          </div>
			</div>
		</ion-item>
	</ion-list>
</ion-content>

