
<ion-header translucent>
	<ion-toolbar color="warning">
	  <ion-buttons slot="start">
		<ion-back-button defaultHref="/home"></ion-back-button>
	  </ion-buttons>
	  <ion-title>
		Account
	  </ion-title>
	
	</ion-toolbar>
  </ion-header>
<ion-content class="bg_color">
	<ion-card>
		<div class="form">
			<h2>{{'my_profile' | translate}}</h2>
			<ion-list lines="none">
				<ion-item lines="none">
					<ion-label mode="md" position="stacked">{{"full_name" | translate}}</ion-label>
					<ion-input mode="md" type="name" value="Vinay Sharma" readonly="true"></ion-input>
				</ion-item>

				<ion-item lines="none">
					<ion-label mode="md" position="stacked">{{"email_address" | translate}}</ion-label>
					<ion-input mode="md" type="email" value="ajay@mail.com" readonly="true"></ion-input>
				</ion-item>

				<ion-item lines="none">
					<ion-label mode="md" position="stacked">{{"phone_number" | translate}}</ion-label>
					<ion-input mode="md" type="text" value="8080698332" readonly="true"></ion-input>
				</ion-item>

				<!-- <ion-item lines="none">
					<ion-label mode="md" position="stacked">Buyer/Seller</ion-label>
					<ion-input mode="md" type="text" value="Buyer and Seller" readonly="true"></ion-input>
				</ion-item> -->

			</ion-list>
		</div>
	</ion-card>
	<ion-card class="my_addresses">
		<div class="form">
			<h2>{{'my_addresses' | translate}}</h2>
			<ion-list lines="none">
				<ion-item>
					<div class="item_inner"> 
						<div class="text_box">
							<h3 class="d-flex">Home <ion-icon class="zmdi zmdi-edit ion-text-end end"></ion-icon></h3>
							<p>
								803, Veera Desai,Andheri West 
							</p>
						</div>
					</div>
				</ion-item>
				<ion-item>
					<div class="item_inner"> 
						<div class="text_box">
							<h3 class="d-flex">Office <ion-icon class="zmdi zmdi-edit ion-text-end end"></ion-icon></h3>
							<p>
								202, Laxmi tara Kandivali
							</p>
						</div>
					</div>
				</ion-item>
				<ion-item>
					<div class="item_inner"> 
						<div class="text_box">
							<h3 class="d-flex">Other <ion-icon class="zmdi zmdi-edit ion-text-end end"></ion-icon></h3>
							<p>
							322,Trimuti CHS, Pant Nagar,Ghatkopar East
							</p>
						</div>
					</div>
				</ion-item>
			</ion-list>
		</div>
	</ion-card>
</ion-content>
<ion-footer class="ion-no-border">
	<ion-button size="large" shape="full" class="btn" (click)="add_address()"> {{'add_address' | translate}} </ion-button>
</ion-footer>