<ion-app [dir]="rtlSide">

	<ion-split-pane contentId="main-content">
		<ion-menu contentId="main-content" type="overlay">
			<div class="profile_box">
				<h2>
					<!-- {{"hey" | translate}}, -->
					<span class="first_name">Vinay</span>
					<span class="last_name">Sharma</span>

				</h2>
				<div style="font-size: 20px; color: black;">
					<p><i class="zmdi zmdi-pin animated infinite wobble zmdi-hc-fw"></i> wobble</p>
					<ion-item>
						<ion-label *ngIf="mode==='seller'">Seller</ion-label>
						<ion-label *ngIf="mode==='buyer'">Buyer</ion-label>
						<ion-toggle (ionChange)="toggle($event)"></ion-toggle>
					</ion-item>
				
					<!-- <p><i class="zmdi zmdi-directions-bike animated infinite fadeInLeft zmdi-hc-fw"></i> fadeInLeft</p> -->
					<!-- <p><i class="zmdi zmdi-notifications-active animated infinite pulse zmdi-hc-fw mdc-text-blue"></i> pulse</p> -->
					</div>
			</div>
			
			<ion-content fullscreen>
				<ion-list lines="none">
					<ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
						<ion-item mode="ios" detail="false" [routerDirection]="'root'" [routerLink]="[p.url]">
							<div class="item_inner d-flex">
								<ion-icon slot="start" [class]="p.icon"></ion-icon>
								<h2>{{ p.title | translate}}</h2>
							</div>
						</ion-item>
					</ion-menu-toggle>

					
				</ion-list>
			</ion-content>
		</ion-menu>
		<ion-router-outlet id="main-content"></ion-router-outlet>
	</ion-split-pane>
</ion-app>