<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>{{'register' | translate}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="form">
		<ion-list lines="none">
			<ion-item lines="none">
				<ion-label mode="md" position="stacked">{{"full_name" | translate}}</ion-label>
				<ion-input mode="md" type="name" [(ngModel)]="user.name" #name="ngModel" name="name" placeholder="{{'enter_full_name' | translate}}"></ion-input>
			</ion-item>

	

			<ion-item lines="none">
				<ion-label mode="md" position="stacked">{{"phone_number" | translate}}</ion-label>
				<ion-input mode="md" type="number" [(ngModel)]="user.phone" #email="ngModel" name="email"  placeholder="{{'enter_phone_number' | translate}}"></ion-input>
			</ion-item>

		</ion-list>
	</div>
</ion-content>

<ion-footer class="ion-mo-border">
		<ion-button size="large" expand="full" class="btn" (click)="verification()">{{'continue' | translate}}</ion-button>
</ion-footer>