
<ion-header translucent>
	<ion-toolbar color="warning">
	  <ion-buttons slot="start">
		<ion-back-button defaultHref="/home"></ion-back-button>
	  </ion-buttons>
	  <ion-title>
		Payment 
	  </ion-title>
	
	</ion-toolbar>
  </ion-header>


<ion-content fullscreen>
	<ion-list lines="none">
		<ion-item>
			<div class="item_inner">
				<h2>{{'cards' | translate}}</h2>
				<div class="payment_option d-flex" (click)="pay()">
					<div class="img_box center_img">
						<img src="assets/images/ic_card.png" class="crop_img">
					</div>
					<h3>Credit Card</h3>
				</div>

				<div class="payment_option d-flex" (click)="pay()">
					<div class="img_box center_img">
						<img src="assets/images/ic_card.png" class="crop_img">
					</div>
					<h3>Debit Card</h3>
				</div>
			</div>
		</ion-item>


		<ion-item>
			<div class="item_inner">
				<h2>{{'cash' | translate}}</h2>
				<div class="payment_option d-flex" (click)="pay()">
					<div class="img_box center_img">
						<img src="assets/images/cod.png" class="crop_img">
					</div>
					<h3>Cash on Delivery</h3>
				</div>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h2>{{'other_methods' | translate}}</h2>
				<div class="payment_option d-flex" (click)="pay()">
					<div class="img_box center_img">
						<img src="assets/icon/phonepe.svg" class="crop_img">
					</div>
					<h3>PhonePe</h3>
				</div>

				<div class="payment_option d-flex" (click)="pay()">
					<div class="img_box center_img">
						<img src="assets/icon/paytm.png" class="crop_img">
					</div>
					<h3>Paytm</h3>
				</div>

				<div class="payment_option d-flex" (click)="pay()">
					<div class="img_box center_img">
						<img src="assets/icon/google-pay-gpay.png" class="crop_img">
					</div>
					<h3>GooglePay</h3>
				</div>
			</div>
		</ion-item>
	</ion-list>
</ion-content>