<ion-header translucent>
	<ion-toolbar color="warning">
	  <!-- <ion-buttons slot="start">
		<ion-back-button defaultHref="/home"></ion-back-button>
	  </ion-buttons> -->
	  <ion-title>
		Confirm Order 
	  </ion-title>
	
	</ion-toolbar>
  </ion-header>


<ion-content>
	<div class="container ion-text-center">
		<div class="img_box">
			<img src="assets/images/order_confirm.png">
		</div>
		<div class="text_box">
		<h2>{{'your_order_has_been' | translate}}<br>{{'placed_successfully' | translate}}</h2>
			<p>{{'you_cant_check_your_order_process_in_my' | translate}}<br>{{'orders_section' | translate}}</p>
			<h3 (click)="my_orders()">{{'my_orders' | translate}}</h3>
		</div>
	</div>
</ion-content>
<ion-footer class="ion-no-border">
	<ion-button size="large" shape="full" class="btn" (click)="home()"> {{'conitnue_shopping' | translate}} </ion-button>
</ion-footer>