
<ion-header>
	
<ion-toolbar color="warning">
	<ion-buttons slot="start" >
			<ion-menu-button autoHide="false"></ion-menu-button>
		
	
	</ion-buttons>

	
	<ion-buttons (click)="add_address()"
	 slot="start">
			<!-- <ion-icon slot="icon-only" name="search-outline"></ion-icon> -->
			<span >

				{{defaultLocation}}
			</span>
			<i class="zmdi zmdi-edit"  >
				
			</i>
	  </ion-buttons>
<ion-buttons (click)="notifications()" slot="end">
			<ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
	
	  </ion-buttons>
	 	<!--  <ion-buttons (click)="cart()" slot="end">
		<ion-icon class="zmdi zmdi-favorite ion-text-start"></ion-icon>
  </ion-buttons>
	  <ion-buttons (click)="cart()" slot="end">
		<ion-icon class="zmdi zmdi-mall ion-text-start"></ion-icon>
		<ion-badge>2</ion-badge>
  </ion-buttons> -->
	
  </ion-toolbar>
	
</ion-header> 

<ion-content fullscreen>
	<div class="category_row"> 
		<div *ngFor="let category of categories" class="category fashion" (click)="item(category.product_category)">
			<div class="img_box center_img">
				<h2>{{category.title}}</h2>
				<img src="{{category.image}}" class="crop_img">
			</div> 
		</div>
	
	</div>
	<div class="banner">
		<ion-slides pager="true" loop="true">
			<ion-slide  *ngFor="let banner of banners">
				<div class="img_box center_img">
					<img src="banner.image" class="crop_img">
				</div>
			</ion-slide>
			
		</ion-slides>
	</div>

	<div class="items_container" >
		<h2 class="d-flex" >Featured Foods
			 <!-- <span class="end" >view all</span> -->
			</h2>

		<div class="items_row" >
			<div class="item" (click)="item_details()" *ngFor="let item of featured_rows['featured_foods']">
				<div class="item_img center_img">
					<img src="{{item.image}}" class="crop_img">
				</div>
				<div class="item_details">
					<h3>{{item.title}}</h3>
					<h4>{{item.seller_name}}</h4>
					<h5 class="d-flex">
						<span class="price"><span style='font-size:19px;'>&#8377;</span>
					{{item.price}}</span>
						<ion-badge class="end">
							4.2 <ion-icon class="zmdi zmdi-star"></ion-icon>
						</ion-badge>
					</h5>
				</div>
			</div>
			
			
		</div>
	</div>

	<div class="items_container" >
		<h2 class="d-flex" >Featured Fruits
			 <!-- <span class="end" >view all</span> -->
			</h2>

		<div class="items_row" >
			<div class="item" (click)="item_details()" *ngFor="let item of featured_rows['featured_fruits']">
				<div class="item_img center_img">
					<img src="{{item.image}}" class="crop_img">
				</div>
				<div class="item_details">
					<h3>{{item.title}}</h3>
					<h4>{{item.seller_name}}</h4>
					<h5 class="d-flex">
						<span class="price"><span style='font-size:19px;'>&#8377;</span>
					{{item.price}}</span>
						<ion-badge class="end">
							4.2 <ion-icon class="zmdi zmdi-star"></ion-icon>
						</ion-badge>
					</h5>
				</div>
			</div>
			
			
		</div>
	</div>

	<div class="items_container" >
		<h2 class="d-flex" >Featured Vegetables <span class="end" >view all</span></h2>

		<div class="items_row" >
			<div class="item" (click)="item_details()" *ngFor="let item of featured_rows['featured_vegetables']">
				<div class="item_img center_img">
					<img src="{{item.image}}" class="crop_img">
				</div>
				<div class="item_details">
					<h3>{{item.title}}</h3>
					<h4>{{item.seller_name}}</h4>
					<h5 class="d-flex">
						<span class="price"><span style='font-size:19px;'>&#8377;</span>
					{{item.price}}</span>
						<ion-badge class="end">
							4.2 <ion-icon class="zmdi zmdi-star"></ion-icon>
						</ion-badge>
					</h5>
				</div>
			</div>
			
			
		</div>
	</div>

	<div class="items_container" >
		<h2 class="d-flex" >Featured Handicrafts
			 <!-- <span class="end" >view all</span> -->
			</h2>

		<div class="items_row" >
			<div class="item" (click)="item_details()" *ngFor="let item of featured_rows['featured_handicrafts']">
				<div class="item_img center_img">
					<img src="{{item.image}}" class="crop_img">
				</div>
				<div class="item_details">
					<h3>{{item.title}}</h3>
					<h4>{{item.seller_name}}</h4>
					<h5 class="d-flex">
						<span class="price"><span style='font-size:19px;'>&#8377;</span>
					{{item.price}}</span>
						<ion-badge class="end">
							4.2 <ion-icon class="zmdi zmdi-star"></ion-icon>
						</ion-badge>
					</h5>
				</div>
			</div>
			
			
		</div>
	</div>
	<div class="items_container">
		<h2>Featured Products</h2>
		<div class="items_row">

			<div class="item" (click)="item_details()">
				<div class="item_img center_img">
					<img src="assets/images/item3.png" class="crop_img">
				</div>
				<div class="item_details">
					<h3>Summer Full Sleven Tshirt</h3>
					<h4>Calvis Dino</h4>
					<h5 class="d-flex">
						<span class="price"><span style='font-size:19px;'>&#8377;</span>35.00</span>
						<ion-badge class="end">
							3.7 <ion-icon class="zmdi zmdi-star"></ion-icon>
						</ion-badge>
					</h5>
				</div>
			</div>
			<div class="item" (click)="item_details()">
				<div class="item_img center_img">
					<img src="assets/images/item_4.png" class="crop_img">
				</div>
				<div class="item_details">
					<h3>Pink Cotton Tshirt</h3>
					<h4>Operun England</h4>
					<h5 class="d-flex">
						<span class="price"><span style='font-size:19px;'>&#8377;</span>42.00</span>
						<ion-badge class="end">
							4.2 <ion-icon class="zmdi zmdi-star"></ion-icon>
						</ion-badge>
					</h5>
				</div>
			</div>

			<div class="item" (click)="item_details()">
				<div class="item_img center_img">
					<img src="assets/images/1.png" class="crop_img">
				</div>
				<div class="item_details">
					<h3>Summer Wgite Top</h3>
					<h4>Pajeroma</h4>
					<h5 class="d-flex">
						<span class="price"><span style='font-size:19px;'>&#8377;</span>30.00</span>
						<ion-badge class="end">
							4.2 <ion-icon class="zmdi zmdi-star"></ion-icon>
						</ion-badge>
					</h5>
				</div>
			</div>
			<div class="item" (click)="item_details()">
				<div class="item_img center_img">
					<img src="assets/images/2.png" class="crop_img">
				</div>
				<div class="item_details">
					<h3> Floral Print Shirt</h3>
					<h4>Lecoil Evea</h4>
					<h5 class="d-flex">
						<span class="price"><span style='font-size:19px;'>&#8377;</span>44.00</span>
						<ion-badge class="end">
							3.2 <ion-icon class="zmdi zmdi-star"></ion-icon>
						</ion-badge>
					</h5>
				</div>
			</div>
			<div class="item" (click)="item_details()">
				<div class="item_img center_img">
					<img src="assets/images/1.png" class="crop_img">
				</div>
				<div class="item_details">
					<h3>Summer Wgite Top</h3>
					<h4>Pajeroma</h4>
					<h5 class="d-flex">
						<span class="price"><span style='font-size:19px;'>&#8377;</span>30.00</span>
						<ion-badge class="end">
							4.2 <ion-icon class="zmdi zmdi-star"></ion-icon>
						</ion-badge>
					</h5>
				</div>
			</div>
			<div class="item" (click)="item_details()">
				<div class="item_img center_img">
					<img src="assets/images/2.png" class="crop_img">
				</div>
				<div class="item_details">
					<h3> Floral Print Shirt</h3>
					<h4>Lecoil Evea</h4>
					<h5 class="d-flex">
						<span class="price"><span style='font-size:19px;'>&#8377;</span>44.00</span>
						<ion-badge class="end">
							3.2 <ion-icon class="zmdi zmdi-star"></ion-icon>
						</ion-badge>
					</h5>
				</div>
			</div>
			<div class="item" (click)="item_details()">
				<div class="item_img center_img">
					<img src="assets/images/item3.png" class="crop_img">
				</div>
				<div class="item_details">
					<h3>Summer Full Sleven Tshirt</h3>
					<h4>Calvis Dino</h4>
					<h5 class="d-flex">
						<span class="price"><span style='font-size:19px;'>&#8377;</span>35.00</span>
						<ion-badge class="end">
							3.7 <ion-icon class="zmdi zmdi-star"></ion-icon>
						</ion-badge>
					</h5>
				</div>
			</div>
			<div class="item" (click)="item_details()">
				<div class="item_img center_img">
					<img src="assets/images/1.png" class="crop_img">
				</div>
				<div class="item_details">
					<h3>Summer Wgite Top</h3>
					<h4>Pajeroma</h4>
					<h5 class="d-flex">
						<span class="price"><span style='font-size:19px;'>&#8377;</span>30.00</span>
						<ion-badge class="end">
							4.2 <ion-icon class="zmdi zmdi-star"></ion-icon>
						</ion-badge>
					</h5>
				</div>
			</div>
			<div class="item" (click)="item_details()">
				<div class="item_img center_img">
					<img src="assets/images/2.png" class="crop_img">
				</div>
				<div class="item_details">
					<h3> Floral Print Shirt</h3>
					<h4>Lecoil Evea</h4>
					<h5 class="d-flex">
						<span class="price"><span style='font-size:19px;'>&#8377;</span>44.00</span>
						<ion-badge class="end">
							3.2 <ion-icon class="zmdi zmdi-star"></ion-icon>
						</ion-badge>
					</h5>
				</div>
			</div>
			<div class="item" (click)="item_details()">
				<div class="item_img center_img">
					<img src="assets/images/item_4.png" class="crop_img">
				</div>
				<div class="item_details">
					<h3>Pink Cotton Tshirt</h3>
					<h4>Operun England</h4>
					<h5 class="d-flex">
						<span class="price"><span style='font-size:19px;'>&#8377;</span>42.00</span>
						<ion-badge class="end">
							4.2 <ion-icon class="zmdi zmdi-star"></ion-icon>
						</ion-badge>
					</h5>
				</div>
			</div>
		</div>
	</div>

	
		
	
	

</ion-content>
