<ion-header translucent>
	<ion-toolbar color="warning">
	  <ion-buttons slot="start">
		<ion-back-button defaultHref="/home"></ion-back-button>
	  </ion-buttons>
	  <ion-title>
		  Notifications
	  </ion-title>
	
	</ion-toolbar>
  </ion-header>

<ion-content fullscreen class="bg_color">
	<ion-list lines="none">
		<h2>Notifications</h2>
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Henna Taylor</h3>
					<h4 class="d-flex">20 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Emili Williamson</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Peter Hemilton</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3> Greham Smith</h3>
					<h4 class="d-flex">14 Mar 2020, 09:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Henna Taylor</h3>
					<h4 class="d-flex">20 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Emili Williamson</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Peter Hemilton</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3> Greham Smith</h3>
					<h4 class="d-flex">14 Mar 2020, 09:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Henna Taylor</h3>
					<h4 class="d-flex">20 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Emili Williamson</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Peter Hemilton</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3> Greham Smith</h3>
					<h4 class="d-flex">14 Mar 2020, 09:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Henna Taylor</h3>
					<h4 class="d-flex">20 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Emili Williamson</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Peter Hemilton</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3> Greham Smith</h3>
					<h4 class="d-flex">14 Mar 2020, 09:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Henna Taylor</h3>
					<h4 class="d-flex">20 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Emili Williamson</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Peter Hemilton</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3> Greham Smith</h3>
					<h4 class="d-flex">14 Mar 2020, 09:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Henna Taylor</h3>
					<h4 class="d-flex">20 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Emili Williamson</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Peter Hemilton</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3> Greham Smith</h3>
					<h4 class="d-flex">14 Mar 2020, 09:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Henna Taylor</h3>
					<h4 class="d-flex">20 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Emili Williamson</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Peter Hemilton</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3> Greham Smith</h3>
					<h4 class="d-flex">14 Mar 2020, 09:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Henna Taylor</h3>
					<h4 class="d-flex">20 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Emili Williamson</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Peter Hemilton</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3> Greham Smith</h3>
					<h4 class="d-flex">14 Mar 2020, 09:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Henna Taylor</h3>
					<h4 class="d-flex">20 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Emili Williamson</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Peter Hemilton</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3> Greham Smith</h3>
					<h4 class="d-flex">14 Mar 2020, 09:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Henna Taylor</h3>
					<h4 class="d-flex">20 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Emili Williamson</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Peter Hemilton</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3> Greham Smith</h3>
					<h4 class="d-flex">14 Mar 2020, 09:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Henna Taylor</h3>
					<h4 class="d-flex">20 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Emili Williamson</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Peter Hemilton</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3> Greham Smith</h3>
					<h4 class="d-flex">14 Mar 2020, 09:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Henna Taylor</h3>
					<h4 class="d-flex">20 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Emili Williamson</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3>Peter Hemilton</h3>
					<h4 class="d-flex">19 Mar 2020, 10:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>	
		
		
		<ion-item>
			<div class="item_inner">
				<div class="reviewer_info">
					<h3> Greham Smith</h3>
					<h4 class="d-flex">14 Mar 2020, 09:00 AM
						
					</h4>
				</div>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
			</div>
		</ion-item>
	</ion-list>
</ion-content>
